{% extends "base.html" %}

{% block content %}
    <div class="container-sm">
        <h1 id="sobre">Sobre mim</h1>
        <p id="sobre">Olá! Meu nome é João Paulo e sou um entusiasta de tecnologias e um programador recém-formado no curso de Bacharelado em Tecnologia da Informação. Desde muito cedo, meu interesse pelo mundo da tecnologia despertou e me levou a explorar o vasto campo da programação.
            Durante meu curso, tive a oportunidade de mergulhar em diversas linguagens de programação, como Java, Python e JavaScript, além de me familiarizar com conceitos fundamentais da área, como desenvolvimento web, bancos de dados e segurança da informação. Essa base sólida me permite criar soluções inovadoras e eficientes para os desafios que encontro.
        
            Minha paixão pela programação vai além das linhas de código. Adoro estar atualizado sobre as últimas tendências e avanços tecnológicos, sempre buscando aprender novas tecnologias e aprimorar minhas habilidades. Acredito que a constante evolução e aprendizado são essenciais nessa área em constante transformação.
        
            Além disso, sou um profissional comprometido, organizado e com habilidades de resolução de problemas. Sou capaz de trabalhar bem em equipe, contribuindo com ideias e colaborando para alcançar os objetivos do projeto. Também sou autodidata e sempre busco me desafiar a aprender algo novo todos os dias.
        
            Estou animado para enfrentar novos desafios e aplicar meu conhecimento para criar soluções que possam impactar positivamente a vida das pessoas. Se você está em busca de um programador dedicado e entusiasmado, estou pronto para contribuir com meu conhecimento e paixão pela tecnologia.
        
            Vamos juntos construir um futuro digital inovador e cheio de possibilidades!</p>
    </div>
{% endblock content %}

