<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alonso-dev</title>
</head>
<body>
    <main>
        <h3>Tarefas</h3>
        <ol>
            <li>Criar lista de tarefas</li>
            <li>Criar o site</li>
            <li>desenvolver a aplicação da alura Js</li>
            <li>pensar em outras tarefas</li>            
        </ol>
        <a href="{{url_for(tag)}}">Marvin e tags</a>
    </main>
</body>
</html>