<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alonso-dev</title>
</head>
<body>
    <header>
        <h2>Header</h2>
        <p>Pão com manteiga. Apresenta as informações principais da página, como o título e a logo, e ajuda a identificar o começo do conteúdo.</p>
    </header>
    <nav>
        <h2>Nav</h2>
        <p>Salva-vida, ajuda o usuário a encontrar o que procura no site.</p>
    </nav>
    <main>

    </main>
    <section>
        <h2>Section</h2>
        <p>Setor de RH agrupa conteúdo relacionado e facilita a vida do usuário.</p>
        <article>
            <h2>Article</h2>
            <p>Celebridade da internet, conteúdo independente e completo, que merece ser lido e compartilhado nas redes sociais.</p>
        </article>
    </section>
    <aside>
        <h2>Aside</h2>
        <p>Rodapé, mas não tão importante assim. A presenta informações complementares que não são essenciais ao conteudo principal</p>
    </aside>
    <footer>
        <h2>Footer</h2>
        <p>Encerramento de um show, apresenta informações importantes sobre a página, como copyright e informações de contato, mas que quase ninguém se importa.</p>
    </footer>

</body>
</html>