{% extends 'base.html'%}

    {% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Tarefas</h5>
            <p class="card-text">Lista de tarefas.</p>
            <h3>Tarefas</h3>
            <ol>
                <li>Criar lista de tarefas</li>
                <li>Criar o site</li>
                <li>desenvolver a aplicação da alura Js</li>
                <li>Video estudo</li>            
            </ol>
            <a href="#" class="btn btn-primary">Vai para algum lugar</a>
        </div>
    </div>        
    {% endblock %}
    
